body {
  font-family: 'Playfair Display', serif;
  line-height: 1.6;
  background-color: #E6E7E8;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.highlighted-text {
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 8px;
  font-size: 1.2em;
  text-align: center;
  max-width: 800px;
  margin: 6em auto 2em auto;
  position: relative;
  animation: moveCenter 2s forwards;
}

@keyframes moveCenter {
  0% {
    transform: translateX(-100vw); 
  }
  100% {
    transform: translateX(0);
  }
}

header {
  background-color: black;
  padding: 1em 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-align: center;
  padding: 0.9375em 2em;
  text-decoration: none;
  font-size: 1.0625em;
}

nav a:hover {
  background-color: gray;
}

h1, h2 {
  text-align: center;
  color: black;
}

h1 {
  margin: 1em 0;
}

h2 {
  font-size: 1.25em;
  margin: 0.625em 0 0.3125em;
}

.team {
  display: flex;
  justify-content: center;
  gap: 1.875em;
  max-width: 1200px;
  margin: 0 auto;
}

.team .person {
  text-align: center;
  max-width: 300px;
}

.team .person img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 1.875em;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

article {
  display: flex;
  align-items: flex-start;
  background-color: #808080;
  padding: 1.25em;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

article img {
  width: 9.375em;
  height: auto;
  border-radius: 0.5em;
  margin-right: 1.25em;
}

.text-content h2 {
  font-size: 1.5em;
  margin: 0 0 0.625em;
}

.text-content p {
  margin: 0;
}

.subscribe-button {
  background-color: #AE1F29;
  color: white;
  padding: 0.625em 1.25em;
  text-decoration: none;
  border-radius: 1.875em;
  font-size: 1.0625em;
  font-weight: bold;
}

.subscribe-button:hover {
  background-color: #848181;
}

.social-icon {
  display: inline-block;
  margin: 5em 1.5em 0;
}

.social-icon img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-icon img:hover {
  transform: scale(1.2);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1.25em;
}

footer {
  border-top: 0.0625em solid gray;
  background-color: gray;
  color: #333;
  text-align: left;
  padding: 0.625em 1.25em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

h3 {
  color: black;
  font-size: 2em;
}

.blood-drop {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 70px;
  opacity: 0;
  animation: drip 2.5s ease-in-out infinite;
}

@keyframes drip {
  0% {
      top: 100px;
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  60% {
      top: 250px;
      opacity: 1;
  }
  100% {
      top: 300px;
      opacity: 0;
  }
}
